body {
    background-color: #cdb4db;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
dd
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #051923;
    margin-top: 60px;
    margin-bottom: 80px;
}

img {
    max-height: 70px;
    max-width: 35%;
}

.principal {
    border: 6px solid #8ecae6;
    background-color: white;
    padding: 35px;
    margin: 30px;
    height: 315px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn,
a {
    background-color: #219ebc;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: #cdb4db;
    color: white;
}

.last_item{
    max-width: 370px;
}

/* resultado */



/* Login Form */

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #219ebc;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form .message a:hover {
    background-color: #cdb4db;
    color: white
}

.form .message {
    margin: 15px 0 0;
    color: #219ebc;
    font-size: 12px;
}

.form .message a {
    max-height:1px;
    max-width: 2px;
    padding:0 2px 2px 2px;
    margin:2px 2px 3px 2px;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
}


