{% extends 'base.html' %}

{% block content %}
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="POST" action="/login">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" placeholder="username" required/>
                <label for="password">Contrasena</label>
                <input id="password" name="password" type="password" placeholder="password" required/>
                <button>login</button>
                <p class="message">Todavia no tienes una cuenta? <a href="/register" >Crear cuenta</a></p>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}